# ~ claude ~
# an API key looks like this
# ANTHROPIC_API_KEY=sk-ant-...

# or a subscription token generated with `claude setup-token`
CLAUDE_CODE_OAUTH_TOKEN=sk-ant-oat...

# ~ codex ~
# OPENAI_API_KEY=sk-...
# for subscription, idk
# if you're not using right.code delete the lines that mention it in codex-config.toml

